@model IEnumerable<Survey>

@{
    ViewData["Title"] = "List of Survey";
}

<div class="h2">
    <h1 class="myheader2" style="border:2px solid limegreen;"> Survey Title : IT .Net departmnt employee evolution </h1>
</div><div class="row">
    <div class="col-md-8 offset-md-2" style=" background-image:src(/wwwroot/Pics/kfhback.PNG)">
        <style>
            body {
                background-image: url(/Pics/kfhback.PNG);
            }

            .myheader2 {
                font-size: 0.7em;
                background-color: white;
                font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
            }

            .table2 {
                border-collapse: collapse;
                width: 100%;
                background-color: rgb(91 205 75 / 0.65);
                text-align: center;
                font-size: 0.9em;
                min-width: 400px;
                border-radius: 5px 5px 0 0;
                overflow: hidden;
                box-shadow: 0 0 20px rgba(0,0,0,15);
                transform: translateX(120px);
            }

                .table2 thead tr {
                    background-color: #009879;
                    color: #ffffff;
                    text-align: center;
                    font-weight: bold;
                }

                .table2 th, .content-table td {
                    padding: 8px 15px;
                }

                .table2 tbody tr {
                    border-bottom: 1px double #000000;
                }

                    .table2 tbody tr:nth-of-type(even) {
                        background-color: #f3f3f3;
                    }

                .table2 tbody tr {
                    text-align: center;
                    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
                    font: bold;
                }



            .myheader {
                color: limegreen;
                font-weight: bold;
                font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
            }

            .button2 {
                background-color: #f3f3f3;
                display: inline-block;
                color: black;
                font-size: 14px;
                padding: 5px 15px;
                border-radius: 14px;
                border: 2px solid #009879;
                transition-duration: 0.4s;
                width: 100%;
            }

                .button2 span {
                    cursor: pointer;
                    display: inline-block;
                    position: relative;
                    transition: 0.5s;
                }

                    .button2 span:after {
                        content: '\00bb';
                        position: absolute;
                        opacity: 0;
                        top: 0;
                        right: -10px;
                        transition: 0.8s;
                    }

                .button2:hover {
                    background-color: rgb(157 200 37 / 0.65);
                    color: white;
                }

                    .button2:hover span:after {
                        opacity: 1;
                        right: 5;
                    }
        </style>
        <table class="table2">
            <thead>
                <tr>
                    <th> @Html.DisplayNameFor(model => model.title)</th>
                    <th> @Html.DisplayNameFor(model => model.description)</th>
                    <th> @Html.DisplayNameFor(model => model.startdate)</th>
                    <th> @Html.DisplayNameFor(model => model.AnswerDate)</th>
                    <th> @Html.DisplayNameFor(model => model.State)</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                @foreach (Survey item in Model)
                {

                    <tr>
                        <td class="align-middle">
                            @Html.DisplayFor(modelItem => item.title)
                        </td>
                        <td class="align-middle">
                            @Html.DisplayFor(modelItem => item.description)
                        </td>
                        <td class="align-middle">
                            @Html.DisplayFor(modelItem => item.startdate)
                        </td>
                        <td class="align-middle">
                            @Html.DisplayFor(modelItem => item.AnswerDate)
                        </td>
                        <td class="align-middle">
                            @Html.DisplayFor(modelItem => item.State)
                        </td>
                        <td class="align-middle">
                            <button class="button button2" style="vertical-align:central"><span>View Survey</span></button>
                        </td>
                    </tr>
                }
            </tbody>
            <table class="table2" border="1" style="font-family:Georgia, Garamond, Serif;color:forestgreen;font-style:italic; border-block-color">
                <tr>
                    <th align="left">Survey Title:IT .Net departmnt employee evolution</th>

                </tr>
                <tr>
                    <td align="center">No.</td>
                    <td>Question</td>
                    <td>Answer</td>
                </tr>
                <tr>
                    <td align="center">1</td>
                    <td>Do you think the training program was a success ?</td>
                    <td>Yes it was successful. </td>
                </tr>
                <tr>
                    <td align="center">2</td>
                    <td>According to the employees feedback, is the presented materials is related to their work? </td>
                    <td>According to the employees, 70% of the presented topics are related, the rest are not relevent.</td>
                </tr>
                <tr>
                    <td align="center">3</td>
                    <td>For the next time training program, do you suggest to provide it with the same trainer? </td>
                    <td>No, I suggest to use different trainer and training materials since we lost around 30% of the training time with unrelevant topics. </td>
                </tr>
            </table>
    </div>
</div>
